#foodmap {
	width:100%;
	height:100%;
}

body {
	margin:0px;
	font:normal 14px "Trebuchet MS", sans-serif !important;
	overflow:hidden;
}

.infobox {
	width:370px;
	height:400px;
	padding:0px;
	margin:0px;
	color:#464646;
	overflow-x: hidden;
}

.info_placename {
	font-size:21px;
	width:100%;
	min-height:20px;
}

.info_placerating {
	width:100%;
	min-height:20px;
}

.starbox_trailer {
	padding-top:2px;
	padding-right:8px;
	float:left;
}

.starbox_stars {
	float:right;
	margin-right:5px;
}


.box {
	z-index:9999;
}

#introbox{
	position:absolute;
	left:380px;
	z-index:99999;
	background-image:url("img/overlay-bg.png");
}

.intro_box {
	width:400px;
	min-height:200px;
	background-color:#464646;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:8px;
	padding-bottom:20px;
}

.comparison_box {
	position:absolute;
	padding-top:10px;
	padding-bottom:10px;
	overflow:auto;
	width:330px;
	background-color:#5E5E5E;
	color:#FFC16B;
	z-index:999999;
}
.comparison_box strong {
	color:#FF9900;
}
.comp_placename strong {
	color:#FFC16B;
}

.comp_placename {
	margin-bottom:6px;
}

.comp_placename hr {
	color:#373737 !important;
	background-color:#373737 !important;
	display:none;
}

.comp_allergyinfo {
	
}


.compdiff1 {
	background-color:#808080;
}

.compdiff2 {
	background-color:#868686;
}

.compbox {
	margin:4px;
	margin-top:8px;
	padding:4px;
	padding-top:8px;
	padding-bottom:8px;
	background-color:#787878;
}

.search_box {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	background-color:#464646;
	color:#DF7000;
	padding-top:5px;
	padding-bottom:0px;
	z-index:9999999;
}

.allergy_item {
	width:100%;
	height:22px;
	padding:2px;
}

#search_div {
	float:right;
	width:400px;
	margin-right:20px;
	padding:0px;
	margin-bottom:0px;
}
#search_div form {
	margin:0px;
	padding:0px;
}
#search_div form input {
	width:400px;
	height:26px;
	font:normal 14px "Trebuchet MS", sans-serif !important;
}

.placeinfobox{
	width:100%;
	min-height:22px;
}

.compinfobox{
	width:100%;
	min-height:22px;
}

#ask_box {
	color: #FFC16B;
	font-size: 12px;
}

#explanation_box {
	color: #FFC16B;
	font-size: 10px;
}

#searchform_intro {
	width:300px;
}

#searchbox_intro {
	width:300px;
	height:26px;
	font:normal 14px "Trebuchet MS", sans-serif !important;
	margin-left: 47px;
}






