#foodmap {
	width:100%;
	height:100%;
}

body {
	margin:0px;
	font:normal 14px "Trebuchet MS", sans-serif !important;
}

.infobox {
	width:400px;
	height:400px;
	padding:0px;
	margin:0px;
	color:#464646;
}

.info_placename {
	font-size:21px;
	width:100%;
	min-height:20px;
}

.info_placerating {
	width:100%;
	min-height:20px;
}

.starbox_trailer {
	padding-top:2px;
	padding-right:8px;
}


.box {
	z-index:9999;
}


.intro_box {
	position:absolute;
}

.comparison_box {
	position:absolute;
	height:100%;
	width:200px;
	background-color:#5E5E5E;
	color:#FF9900;
	overflow:auto;
}

.search_box {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	background-color:#464646;
	color:#DF7000;
	padding-top:5px;
	padding-bottom:0px;
}